* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: AmogusFont;
    src: url("/Fonts/VCR_OSD_MONO.ttf")
}

body{
    background-color: rgb(246, 246, 246);
    margin: 0;  

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.track{

    overflow: hidden;
    border-radius: 1.5vw;
    height: 5vw;
    background-color: white;
    margin: 1vw;
    margin-right: 60%;
}

.number{
    
    background-color: rgb(228, 228, 228);
    z-index: 10;
    float: left;
    height: 5vw;
    border-top-left-radius: 1.5vw;
    border-bottom-left-radius: 1.5vw;
}

.audio{
    
    background-color:  rgb(228, 228, 228);
    
    width: 15vw;
    border-top-right-radius: 1.5vw;
    display: inline-block;
    padding: 0.5vw;
}

h1{  
    font-size: 1vw;
    padding: 1vw;
    margin-left: 3.5vw;
    color: orange;
    font-family: AmogusFont;
}

h2{
    color: white;
    font-size: 3vw;
    padding-left: 1vw;
    line-height: 5vw;
    font-family: AmogusFont;
    float: left;
    padding-right: 1vw;
}

.track audio{
    width: 10vw;
    color: orange;
    height: 1vw;
    
    vertical-align: middle;
}

.track svg{
    line-height: 2.5vh;
    margin-right: 3vw;
    float: right;
    height: 1vw;
}