
@font-face {
    font-family: AmogusFont;
    src: url("/Fonts/VCR_OSD_MONO.ttf")
}

@keyframes in {
    from {
        top: -25px;
        opacity: 0;
        color: orange;
    }
    to {
        opacity: 1;
        top: -0.3vw;
        color: orange;
    }
}
@keyframes out {
    from {
        top: 0;
        opacity: 1;
        color: orange;
    }
    to {
        opacity: 0;
        top: 25px;
        color: orange;
    }
}
.cycleable {
    position: relative;
    display: inline-block;
    transition: width 500ms;
}
.in {
    animation-name: in;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    position: absolute;
    left: 0px;
    transform: translateY(-78%);
    white-space: nowrap;
}
.out {
    animation-name: out;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    position: absolute;
    left: 0px;
    transform: translateY(-78%);
    white-space: nowrap;
}

body{
    background-color: rgb(246, 246, 246);
}

h3{
    font-family: AmogusFont;

    color: #ffcd60;
    font-size: 3vw;   
}

#Welcome{
   display: block;
   text-align: center;
   padding: 10% 0;
}

ul{
    display: block;
    margin: 0 auto;
}

li{

    list-style-type: none;
    width: 7vw;
    float: left;

    transition:  250ms ease;
}


li:active{
    transform: scale(0.9);
}

svg{
    fill: rgb(238, 238, 238);
}

#socials{   
    display: inline-block;
    
    transform: scale(1.1);
    margin-top: 5vh;
    padding: 1vw;
    background-color: white;
    border-radius: 1.5vw;   
}