* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: AmogusFont;
    src: url("/Fonts/VCR_OSD_MONO.ttf")
}

body {
    background-color: rgb(246, 246, 246);
    margin: 0;
}

#News,
#Twitter {

    border-radius: 50px;
    margin: 100px;
    min-height: 2500px;

    float: left;
    background-color: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.267);
    display: block;

}


#News {
    margin-right: 0;
    width: 2050px;
}

.NewsElement {

    position: relative;
    margin: 100px;
    border-radius: 50px;
    background-color: rgb(246, 246, 246);
    height: 500px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.267);


    transition: transform 250ms ease;
}

.NewsElement:hover,
.NewsElement:focus {

    transform: scale(1.01);

    box-shadow: 0 5px 5px -1px rgba(0, 0, 0, 0.267);

    transition: transform 150ms ease;
}

.NewsElement:active {
    transform: scale(1);


}

.Title {

    float: left;

    line-height: 50px;
    margin: 25px;

    color: orange;
    font-family: AmogusFont;

}

.Date {
    float: right;

    line-height: 50px;
    margin: 25px;

    color: orange;
    font-family: AmogusFont;
}

.NewsElement div {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

    background-color: rgb(228, 228, 228);
    height: 100px;
}

.NewsElement article h2 {

    margin: 50px;
    font-size: 28px;
    float: right;
    width: 1150px;
    font-family: AmogusFont;
}


.NewsElement article img {

    margin: 25px;
    margin-top: 50px;
    vertical-align: middle;
    height: 300px;

}

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.popup .content {
    overflow-y:scroll;
    position: fixed;
    border-radius: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 80%;
    height: 80%;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.content .articleTitle{
    color: orange;
    font-family: amogusfont;
}
.content .articleText{
    margin: 50px;
    font-size: 20px;
    text-align: left;

    font-family: amogusfont;
    white-space: pre-wrap;
}

.content .date{
    margin-top: 25px;
    font-family: amogusfont;
    color: rgb(228, 228, 228); 
}

.textBackground{
    background-color: rgb(228, 228, 228);
    border-radius: 50px;
    margin: 25px;
    min-height: 500px;
    padding: 10px;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.popup .close-btn {
    cursor: pointer;
    position:absolute;
    right: 20px;
    top: 20px;

    width: 60px;
    height: 60px;
    background: orange;
    color: white;
    font-size: 35px;
    font-weight: 600;
    line-height: 60px;
    border-radius: 50px;
    text-align: center;
}



#Twitter {

    width: 1018px;
}

.twitter-timeline {
    width: 20%;
}

footer div {
    clear: left;
    background-color: #ffcd60;
    height: 250px;

    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.267);
}