* {
    padding: 0;
    margin: 0;
}

@media only screen and (max-device-width : 425px) {
    #Twitter{
        display: none;
    }

    #News{
        width: 95%;
    }

    }

    @media only screen and (min-device-width: 425.1px){  
        #News{
            width: 61%;
        }

        #Twitter{

            width: 30%;
            display: block;

        }
    }




@font-face {
    font-family: AmogusFont;
    src: url("/Fonts/VCR_OSD_MONO.ttf")
}

body {
    background-color: rgb(246, 246, 246);
    margin: 0;   

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

#News, #Twitter{

    margin: 3%;
    border-radius: 1.5vw;
    min-height: 2500px;

    float: left;
    background-color: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.267);
    

}

#News {
    display: block;
    margin-right: 0;

}


.NewsElement {
    
    position: relative;
    margin: 4%;
    border-radius: 1.5vw;
    background-color: rgb(246, 246, 246);
    
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.267);

    transition: transform 250ms ease;
}

.NewsElement:hover,
.NewsElement:focus {

    transform: scale(1.01);

    box-shadow: 0 5px 5px -1px rgba(0, 0, 0, 0.267);

    transition: transform 150ms ease;
}

.NewsElement:active {
    transform: scale(1);
}

.NewsElement article h2 {

    font-size: 0.8vw;    

    display: inline-block;
    vertical-align: middle;
    
    width: 60%;
    font-family: AmogusFont;
}

.Date, .Title{

    line-height: 1vw;
    margin: 1vw;
    font-size: 1vw;

    color: orange;
    font-family: AmogusFont;
}

.Date{
    float: right;
}

.Title{
    float: left;
}

.NewsElement article img{

    margin: 1vw;
    border-radius: 1.5vw;
    vertical-align: middle;    
    width: 35%;
}

.NewsElement div {
    border-top-left-radius: 1.5vw;
    border-top-right-radius: 1.5vw;

    background-color: rgb(228, 228, 228);

    height: 3vw;    
}

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.popup .content {
    overflow-y:scroll;
    position: fixed;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 80%;
    height: 80%;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.content .articleTitle{
    color: orange;
    font-family: amogusfont;
}
.content .articleText{
    margin: 50px;
    font-size: 20px;
    text-align: left;

    font-family: amogusfont;
    white-space: pre-wrap;
}

.content .date{
    margin-top: 25px;
    font-family: amogusfont;
    color: rgb(228, 228, 228); 
}

.textBackground{
    background-color: rgb(228, 228, 228);
    border-radius: 50px;
    margin: 25px;
    min-height: 500px;
    padding: 10px;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.popup .close-btn {
    cursor: pointer;
    position:absolute;
    right: 20px;
    top: 20px;

    width: 60px;
    height: 60px;
    background: orange;
    color: white;
    font-size: 35px;
    font-weight: 600;
    line-height: 60px;
    border-radius: 50px;
    text-align: center;
}

.twitter-timeline {
    width: 20%;
}

#LoadMoreParent{
    text-align: center;
}

#LoadMore{


    color: orange;
    margin-bottom: 50px;
    display: inline-block;

    font-family: AmogusFont;
    font-size: 2vw;

    text-decoration: none;
    text-shadow: 0 0.15vw rgb(230, 129, 15);

    transition: transform 250ms ease;
}

#LoadMore:hover, #LoadMore:focus{

    transform: scale(1.1);
    color: rgb(248, 154, 3);
}

#LoadMore:active{
    transform: scale(0.99);
}

#NewsTitle{
    text-align: center;
    font-family: AmogusFont;
    margin-top: 2vw;

    font-size: 2vw;
    color: orange;
}