*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: AmogusFont;
    src: url("/Fonts/VCR_OSD_MONO.ttf")
}



select, option, label, #Send{
    
    font-size: 1vw;
    font-family: AmogusFont;
    color: orange;

}

#Send{
    background-color: rgb(228, 228, 228);
    padding: 0.5vw;
    
    width: 20vw;
    border-radius: 1vw;
}

#Send:active{
    background-color: rgb(240, 240, 240);
}

#Send h5{
    text-align: center;
}

.customSelect, .inputField{
    margin-bottom: 2vw;
}

.inputField input, .inputField textarea{

    display: block;

    font-size: 0.7vw;
    font-family: AmogusFont;
    color: rgb(228, 228, 228);
    
    padding-left: 0.5vw;
    width: 20vw;
    height: 1.5vw;
}


body{
    background-color: rgb(246, 246, 246);
    margin: 0;  

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#MainContent{
    margin: 30%;
    margin-top: 3%;


    background: white;
    padding-top: 1.5vw;

    z-index: 100px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.267);

    padding: 1.5vw;
    min-height: 50vh;
    border-radius: 1.5vw;
    
}



