#mainContent{
    padding: 3vw;
    min-height: 1000px;
    background-color: rgb(19, 19, 19);
    
    margin: 10vw;
    margin-top: 3vw;
}

@media only screen and (max-width : 1228px) {
    audio{
    
        display: block;
        
        height: 70px; 
    }

    h1{
        display: block;

        text-align: center;
        margin-left: 1vw;
        margin-right: 2vw;

        font-family: monospace;
        color:rgb(235, 235, 235);
    }

    .track{
        height: 150px;
    }
}

@media only screen and (min-width : 1228.1px) {
    
    audio{
        float: right;
        height: 30px; 
    }

    h1{
        margin-left: 1vw;
        margin-right: 2vw;
        line-height: 50px;
        float: left;

        font-family: monospace;
        color:rgb(235, 235, 235);
    }

    .track{
        height: 50px;
    }
}