h1, h2, p{
    color: rgb(235, 235, 235);
    font-family: monospace;
}

.game{
    background-color: rgb(19, 19, 19);
    text-align: center;
}

#mainContent{

    padding: 3vw;
    margin: 10vw;
    margin-top: 0;
}

.cover{
    width: 80%;
}


@media only screen and (max-width : 1228px) {
    .game{
        height: 85vw;
        width: 100%;
        margin: 20px;    
    }
}

@media only screen and (min-width : 1228.1px) {

    .game{
        height: 530px;
        width: 430px;
        margin: 20px;
        float: left;
    }
}

.game:hover{
    transform: scale(1.03);
}

.game:active{
    transform: scale(0.97);
}

