.post{
    background-color: rgb(19, 19, 19);
    border-radius: 0.2vw;
    min-height: 10vw;
    width: 100%;

    margin-bottom: 3vw;
    padding: 2.5vw;
}
.post:hover{
    transform: scale(1.03);
}

.post:active{
    transform: scale(0.97);
}
#posts h1, h2, h3{
    font-family: monospace;
    color:rgb(235, 235, 235);
}

#socials h2{
    display: block;
    font-family: monospace;
    color:rgb(235, 235, 235);
    margin: 1vw;
}

#posts h1{
    float: left;
    font-size: 2em;

}

.postBottom{
    margin-top: 1vw;
    clear: both;
}

#posts h2{
    padding-top: 2vw;
    font-size: 1.5em;
    word-wrap: normal;   
}

#mainContent{
    
    min-height: 1000px;
    background-color: rgb(27, 27, 27);
    
    margin: 10vw;
    margin-top: 3vw;
}


@media only screen and (max-width : 1228px) {
    #posts{
        width: 100%;
    }
    #posts img{ 
        border-radius: 0.2vw;

        height: 0;
        width: 0;
    }
    #socials{
                
        opacity: 0;
    }

    #posts h3{
        clear: both;
        font-size: 1.5em;
    }

    .modal iframe, img{
        display: block;
        width: 100%;
        height: 38vw;
    }
}

@media only screen and (min-width : 1228.1px) {

    #posts{
        float: left;
        width: 60%;
    }

    #socials{
        border-radius: 0.2vw;
        background-color: rgb(19, 19, 19);
        float: right;
        width: 30%;
        min-height: 1000px;
    }

    #boogaloo{
        margin: 1vw;

    }

    #posts img{ 
        float: left;
        margin-right: 1vw;
        border-radius: 0.2vw;
        
        height: 8vw;
        width: 13.5vw
    }

    #posts h3{
        float: right;
        font-size: 1.5em;
    }

    .modal iframe, img{
        display: block;
        width: 50%;
        height: 19vw;
    }
}

#modal-container{
    background-color: rgb(19, 19, 19, 0.7);
    display: flex;
    align-items: center;
    justify-self: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.modal{
    width: 80%;
    height: 80%;
    background-color: rgb(27, 27, 27);
}

.modal h1, p, h2{
    clear: right;
    display: flex;
    color: rgb(235, 235, 235);
    font-family: monospace;
    justify-content: center;
}

p{
  
    display: block;
}

.content{

    overflow-y: scroll;
    margin: 3vw;
    height: 67%;
    padding: 3vw;

    background-color: rgb(31, 31, 31);
}

span{
    display: inline-block;
}

.modal p, h2{

    font-size: 2em;
    margin-top: 1vw;
}

#close{
    width: 100px;
    height: 100px;
    border-radius: 0;
    font-size: 2em;

    background-color: rgb(27, 27, 27);
    color: rgb(235, 235, 235);
    border: none;
    float: right;
}

#close:hover{
    background-color: rgb(31, 31, 31);
}

#close:active{
    background-color: rgb(31, 31, 31);
}

#loadMore{
    color: rgb(235, 235, 235);
    font-family: monospace;
    clear: both;
    margin-left: 3vw;
}

