*{
    margin: 0 auto;
    padding: 0;
}

@media only screen and (max-width : 1228px) {
    #title{
        padding-top: 3vw;
    }

    #navDiv ul{

        text-align: center; 

    }

    #navDiv ul li{
        width: 18vw;
    }

    #navDiv{
        display: block;
    }
}

@media only screen and (min-width : 1228.1px) {
    #title{
    
        float: left;
       
        margin-right: 1vw;
        margin-left: 15vw;
       
    }

    #navDiv{
        display: flex;    
        align-items: center;
    }

    #navDiv ul li{
        width: 8vw;
    }
}

a{
    width: 100%;
    text-decoration: none;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#navDiv{
    min-height: 125px;
    background-color: rgb(19, 19, 19);      
}

#title{
     
    height: 60px;
    width: 500px;   
}



#navDiv ul li{
    font-size: 25px;
    
    font-family: monospace;

    display: inline-flex;

    
   

    text-align: center;
    margin-left: -5px;
}

#navDiv ul h3{

    line-height: 125px;
    font-size: 0.9em;
    color: rgb(235, 235, 235);
}

#navDiv ul li:hover{
    background-color: rgb(27, 27, 27);
}

body{
    /*rgb(235, 235, 235)*/
    background-color: rgb(27, 27, 27);
}

span{
    display: block;
}



