* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: AmogusFont;
    src: url("/Fonts/VCR_OSD_MONO.ttf")
}

body{
    background-color: rgb(246, 246, 246);

    margin: 0;   

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#Content{
        
    padding-top: 1.5vw;
    position: relative;
    z-index: 100px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.267);

    background-color: white;
    margin: 3%;
    margin-top: 0;
    padding-bottom: 1vw;
    min-height: 2500px;
    border-radius: 1.5vw;

    border-top-left-radius: 0;
    border-top-right-radius:0;
}

#tabs{
    
    margin: 3%;
    margin-bottom: 0;
}

.tab{
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.267);
    display:inline-block;


    height: 3vw;
    background: rgb(246, 246, 246);
    
    text-align: center;
    width: 49%;
    border-top-left-radius: 1.5vw;
    border-top-right-radius: 1.5vw; 

    transition: 50ms ease;
}

.tab h2{
    font-family: AmogusFont;
    /*color: orange;*/
    font-size: 1.5vw;
    line-height: 3vw;
    border-bottom: 0.1vw solid rgb(246, 246, 246);
}

#WillyHB{
    background: white;

    margin-right: 1.85%;
}

.Video{
    margin: 1.5vw;
    
    height: 7vw;
    background: rgb(246, 246, 246);
    border-radius: 1.5vw;
}

.Vid{
    float: left;

    border-radius: 1vw;
    margin: 1vw;
    width: 10vw;
    height: 5vw;
}

.InfoHeader{
    padding-top: 1vw;
}


.Title{
    float: left;
    color: orange;
    font-size: 1vw;
    font-family: AmogusFont;   
}

.Date{
    margin-right: 1vw;

    float: right;
    color: orange; 
    font-size: 1vw;
    line-height: 1vw;
    font-family: AmogusFont;
}

.Description{

    margin-top: 1.5vw;
    font-size: 0.8vw;
    font-family: AmogusFont;
    color: black;
}

#LoadMoreParent{
    text-align: center;
}

#LoadMore{


    color: orange;
    margin-bottom: 50px;
    display: inline-block;

    font-family: AmogusFont;
    font-size: 2vw;

    text-decoration: none;
    text-shadow: 0 0.15vw rgb(230, 129, 15);

    transition: transform 250ms ease;
}

#LoadMore:hover, #LoadMore:focus{

    transform: scale(1.1);
    color: rgb(248, 154, 3);
}

#LoadMore:active{
    transform: scale(0.99);
}