* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: AmogusFont;
    src: url("/Fonts/VCR_OSD_MONO.ttf")
}

body{
    background-color: rgb(246, 246, 246);

    margin: 0;   

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



#Games{
    display: block;
    margin-right: 0;


    background-color: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.267);

    background-color: white;
    margin: 5vh;
    min-height: 2500px;
    border-radius: 1.5vw;
}

#Header{
    text-align: center;
    font-family: AmogusFont;
    padding-top: 2vh;

    font-size: 2vw;
    color: orange;
}

.Game{
    position: relative;
    margin: 4%;
    border-radius: 1.5vw;
    background-color: rgb(246, 246, 246);
    
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.267);

    min-height: 35vh;
}

.Content{
    padding: 1vw;
    vertical-align: middle;
}

.Title{
    font-family: AmogusFont;

    font-size: 1vw;
}

.CoverImg{
    border-radius: 1.5vw;
    height: 10.2vw;
    float: left;
    margin-right: 1vw;
}

.Sidebar{

    display: inline-block;
    
    width: 70%;
}

.info{
    display: inline-block;

    margin-top: 0.5vw;
    border-radius: 1.5vw;
    height: 4vw;
    background: white;
}

.icon{
    
    margin: 0.5vw;
    width: 3vw;
    height: 2.5vwvw;
}

.Description{
    font-size: 0.8vw;    


    font-family: AmogusFont;
}

.Divide{
    margin: 5vw;
}
.Divide h2 {
    width: 100%; 
    text-align: center; 
    border-bottom: 0.5vw solid rgb(246, 246, 246); 
    line-height: 0em;
    font-size: 1vw;
    margin: 10px 0 20px; 
    border-radius: 1.5vw;
    font-family: AmogusFont;
    color: rgb(230, 230, 230);
 } 
 
 .Divide h2 span { 
     background:#fff; 
     padding:0 10px; 
 }
  

