* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: AmogusFont;
    src: url("/Fonts/VCR_OSD_MONO.ttf")
}

body{
    background-color: rgb(246, 246, 246);

    margin: 0;   

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



#Games{
    display: block;
    margin-right: 0;
    padding-bottom: 1%;

    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.267);

    background-color: white;
    margin: 3%;
    min-height: 72.328vh;
    border-radius: 1.5vw;
}

#Header{
    text-align: center;
    font-family: AmogusFont;
    padding-top: 2vh;

    font-size: 2vw;
    color: orange;
}

.Game{
    position: relative;
    margin: 4%;
    border-radius: 1.5vw;
    background-color: rgb(246, 246, 246); 
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.267);

    min-height: 14.4vw;
}

.Content{
    vertical-align: middle;
}

.Date, .Title{

    line-height: 0vw;
    margin: 1vw;
    font-size: 1vw;

    color: orange;
    font-family: AmogusFont;
}

.Date{
    float: right;
}

.Title{
    float: left;
}


.CoverImg{
    border-radius: 1.5vw;
    height: 10vw;
    width: 17.7vw;

    float: left;
    
    margin-left: 1vw;
    margin-right: 1vw;
}

.Sidebar{

    display: inline-block;
    
    width: 70%;
}

.info{

    display: inline-block;

    margin-top: 1vw;
    border-radius: 1.5vw;
    height: 4vw;
    background: white;
    clear:both;bottom: 100px;
}

.Head{
    background-color: rgb(228, 228, 228);
    color: orange;
    line-height: 2vw;
    border-top-left-radius: 1.5vw;
    border-top-right-radius: 1.5vw;
    margin: 0 auto;

    height: 2vw;
    margin-bottom: 1vw;
}

.icon{
    
    margin: 0.5vw;
    width: 3vw;
    height: 2.5vwvw;
}

.Description{
    font-size: 0.8vw;   

    font-family: AmogusFont;
}

.price{
    float: right;
    line-height: 4vw;
    margin-left: 1vw;
    margin-right: 1vw;
    font-family: AmogusFont;
    color: orange;
    font-size: 1vw;
}

.Divide{
    margin: 5vw;
}
.Divide h2 {
    width: 100%; 
    text-align: center; 
    border-bottom: 0.5vw solid rgb(246, 246, 246); 
    line-height: 0em;
    font-size: 1vw;
    margin: 10px 0 20px; 
    border-radius: 1.5vw;
    font-family: AmogusFont;
    color: rgb(230, 230, 230);
 } 
 
 .Divide h2 span { 
     background:#fff; 
     padding:0 10px; 
 }

 a{
     text-decoration: none;
     color: black;
 }
  

